<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net461" />
  <package id="Microsoft.Azure.Search" version="5.0.2" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Common" version="5.0.2" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Data" version="5.0.2" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Service" version="5.0.2" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.12" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.13" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="7.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
  <package id="TikaOnDotnet" version="1.17.1" targetFramework="net461" />
  <package id="TikaOnDotnet.TextExtractor" version="1.17.1" targetFramework="net461" />
</packages>